$bootstrap-sass-asset-helper: true;

$navbar-height: 90px;

@import "bootstrap-sass/assets/stylesheets/_bootstrap";
@import "simplemde/src/css/simplemde";
@import "codemirror";
@import "react-toggle/style";

// Navbar
.navbar-inverse {
  background-color: #4378bd;
  border-color: #4378bd;
  border-radius: 0;

  .navbar-brand {
    background-image: url("../images/ictawhitelower.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;
    height: 88px
  }

  .profile-image {
    margin-right: 15px;
    margin-top: 20px;
  }

  .navbar-text {
    color: #fff;
  }

  .navbar-toggle {
    float: left;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 15px;
    color: #ffffff;
    border-color: #ccc;

    .icon-bar {
      width: 28px;
      height: 4px;
    }

    &:hover, &:focus, &.collapsed {
      background-color: #4c7dbd;
    }
  }

  .navbar-nav {
    > li > a {
      color: #fff;

      &:hover {
        background-color: #3D6FAF;
      }
    }
  }

  .navbar-collapse {
    border-color: #1a4f96;
  }
}

// Label/Status
.filters-status {
  cursor: pointer;
  line-height: 28px;
  font-size: 16px;

  .filter {
    float: left;
    margin-right: 5px;
  }
}

.label {
  border-left: none;

  &.status-new {
    background-color: #337ab7;
  }

  &.status-planned {
    background-color: #30bb9b;
  }

  &.status-in-progress {
    background-color: #ff8100;
  }

  &.status-done {
    background-color: #069424;
  }

  &.status-under-review {
    background-color: #777777;
  }

  &.status-denied {
    background-color: #d30000;
  }
}

.well, .list-group-item {
  &.status-new {
    border-left: 8px solid #337ab7;
  }

  &.status-planned {
    border-left: 8px solid #30bb9b;
  }

  &.status-in-progress {
    border-left: 8px solid #ff8100;
  }

  &.status-done {
    border-left: 8px solid #069424;
  }

  &.status-under-review {
    border-left: 8px solid #777777;
  }

  &.status-denied {
    border-left: 8px solid #d30000;
  }
}

// Index list
.list-group {
  .list-group-item {
    h4 {
      color: #333;
    }

    .actions {
      font-size: 25px;
      color: #d3d3d3;

      div.item {
        float: left;
        transition: color 0.5s ease;
        padding-right: 15px;

        a {
          color: #d3d3d3;
        }

        span {
          padding-left: 5px;
        }
        .active { color: #4378bd; }
      }
    }
  }
}

.panel {
  .panel-heading {
    h1, h2, h3, h4 {
      margin: 0;
    }
  }
}

.profile-image {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 7px;

  &.small {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }
}
