$bootstrap-sass-asset-helper: true;

$navbar-height: 100px;

@import "bootstrap-sass/assets/stylesheets/_bootstrap";
@import "simplemde/src/css/simplemde";
@import "codemirror";

.breadcrumb {
  padding: 8px 15px 8px 0;
}

.list-group-item {
  .thumbs-group {
    max-width: 140px;
    float: left;
  }

  .thumbs {
    float: left;
    margin: 13px 11px;

    &:last-of-type {
      margin-right: 30px;
    }
  }

  .status-badge {
    text-align: center;
    padding-top: 15px;

  }

  .idea-info {
    float: left;
  }

  .vote-count {
    color: #d7d7d7;
  }

  .fa-thumbs-up, .fa-thumbs-down {
    color: #d3d3d3;
    cursor: pointer;

    &.active {
      color: #4378bd;
    }
  }

  h4, .author {
    cursor: pointer;
  }

  .idea-actions {
    line-height: 75px;
    float: right;

    i {
      transition: color 0.5s ease;
      color: #d3d3d3;
      cursor: pointer;
    }

    i:hover {
      color: black;
    }
  }

  .idea-comments-count {
    line-height: 65px;
    transition: color 0.5s ease;
    color: #d3d3d3;
    cursor: pointer;

    &:hover {
      color: black;
    }

    span {
      font-size: 25px;
      padding-left: 10px;
    }
  }
}

.well {
  h1, h2, h3, h4 {
    margin: 0;
  }
}

.panel {
  .panel-heading {
    h1, h2, h3, h4 {
      margin: 0;
    }
  }
}

.navbar-inverse {
  background-color: #4378bd;
  border-color: #4378bd;
}

.navbar-brand {
  background-image: url('../images/ictawhitelower.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
}

.navbar-nav > li {
  padding: 0 15px;
}

.navbar-nav > li:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+0,3c6dad+95,3c6dad+95,3c6dad+97,1d5caa+97,1d5caa+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(153,153,153,0) 0%, rgba(60,109,173,0.95) 95%, rgba(29,92,170,0.97) 95%, rgba(29,92,170,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(60,109,173,0.95) 95%,rgba(29,92,170,0.97) 95%,rgba(29,92,170,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(153,153,153,0) 0%,rgba(60,109,173,0.95) 95%,rgba(29,92,170,0.97) 95%,rgba(29,92,170,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#1d5caa',GradientType=0 ); /* IE6-9 */
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-size: 14pt;
}

.navbar-inverse .navbar-text {
  color: #ffffff;
}

.navbar-inverse .profileImage {
  margin: 25px 0;
  width: 50px;
  height: 50px;
}

.profileImage {
  border: 2px solid white;
  border-radius: 7px;
}

.comment-user-image {
  margin-right: 10px;
}

.small-profile-image {
  width: 20px;
  height: 20px;
  border-radius: 3px;

}

.show-idea{
  .title {
    h1, h4 {
      float: left;
    }

    h4 {
      padding: 10px 20px;
    }
  }
}

.label {
  &.label-status-new {
    background-color: #337ab7;
  }

  &.label-status-planned {
    background-color: #30bb9b;
  }

  &.label-status-in_progress {
    background-color: #ff8100;
  }

  &.label-status-done {
    background-color: #069424;
  }
}


